<form class="row g-2 my-3">
    <div class="col-auto">
        <input autocomplete="off" (typeaheadOnSelect)="typeaheadSelected($event)" [typeahead]="(accountNames$ | async) || []" [formControl]="accountControl"
            id="accountName" type="text" class="form-control" placeholder="Accountname">
    </div>
    <div class="col d-flex justify-content-end">
        <span>Currently {{ (playerCount$ | async) || 0 }} players in league...</span>
    </div>
</form>
<div class="row g-3">
    <div class="col-12 col-lg-6 ">
        <div class="card" *ngIf="accountName$ | async; let accountName; else hint">
            <div class="card-header d-flex justify-content-between">
                <span>
                    {{ accountName$ | async }}
                </span>
                <span>
                    <ng-container *ngIf="className$ | async; let className">
                        {{ className}}&nbsp;-&nbsp;
                    </ng-container>
                    {{ teamName$ | async }}
                </span>
            </div>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-12 col-md-6">
                        <div class="input-group">
                            <span class="input-group-text">Rank overall</span>
                            <input class="form-control" readonly type="text" [value]="(rankInfo$ | async)?.ladderRank">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="input-group">
                            <span class="input-group-text">Rank in class</span>
                            <input class="form-control" readonly type="text" [value]="(rankInfo$ | async)?.classRank">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="input-group">
                            <span class="input-group-text">Rank in team</span>
                            <input class="form-control" readonly type="text" [value]="(rankInfo$ | async)?.teamRank">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6" *ngIf="statistics$ | async; let statistics;">
        <div class="card">
            <div class="card-header">Statistic</div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="pie">
                            <div class="pie__segment" data-label="&nbsp;Mercs" [style]="'--offset: 0; --value: ' + statistics.get('Mercs') + '; --bg: #85150f; --over50: ' + (statistics.get('Mercs') > 50 ? '1'  : '0') + ';'"></div>
                            <div class="pie__segment" data-label="&nbsp;Druids" [style]="'--offset: ' + statistics.get('Mercs') + '; --value: ' + statistics.get('Druids') + '; --bg: #5e3d73; --over50: ' + (statistics.get('Druids') > 50 ? '1'  : '0') + ';'"></div>
                            <div class="pie__segment" data-label="&nbsp;Knights" [style]="'--offset: ' + (+statistics.get('Mercs') + +statistics.get('Druids')) + '; --value: '+ statistics.get('Knights') +'; --bg: #9e601c; --over50: ' + (statistics.get('Knights') > 50 ? '1'  : '0') + ';'"></div>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center flex-column">
                        <p>Distribution of top 100 players in ladder among teams.</p>
                        <p>
                            Druids: {{ statistics.get('Druids')}}%<br/>
                            Mercs: {{ statistics.get('Mercs')}}%<br/>
                            Knights: {{ statistics.get('Knights')}}%<br/>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <small>The ladder is refreshed every minute, but might be slightly behind ingame data.</small>
    </div>
</div>

<ng-template #hint>
    <div class="card">
        <div class="card-header">Nothing to see here</div>
        <div class="card-body">
            <p>Select an account to see relevant information.</p>
        </div>
    </div>
</ng-template>