<form class="row g-2 my-3">
    <div class="col-auto">
        <input autocomplete="off" [typeahead]="(accountNames$ | async) || []" [formControl]="accountControl" id="accountName" type="text" class="form-control" placeholder="Accountname">
    </div>
    <div class="col d-flex justify-content-end">
        <span>Currently {{ (playerCount$ | async) || 0 }} players in league...</span>
    </div>
</form>
<div class="card" *ngIf="accountName$ | async; let accountName">
    <div class="card-header d-flex justify-content-between">
        <span>
            {{ accountControl.value }}
        </span>
        <span>
            {{ teamName$ | async }}
        </span>
    </div>
    <div class="card-body">
        <div class="row g-3">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="input-group">
                    <span class="input-group-text">Rank overall</span>
                    <input class="form-control" readonly type="text" [value]="(rankInfo$ | async)?.ladderRank">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="input-group">
                    <span class="input-group-text">Rank in class</span>
                    <input class="form-control" readonly type="text" [value]="(rankInfo$ | async)?.classRank">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="input-group">
                    <span class="input-group-text">Rank in team</span>
                    <input class="form-control" readonly type="text" [value]="(rankInfo$ | async)?.teamRank">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-3">
    <small>The ladder is refreshed every minute, but might be slightly behind ingame data.</small>
</div>